{{ "hero.css" | asset_url | stylesheet_tag }}
{{ "custom-style.css" | asset_url | stylesheet_tag }}


<section class="hero">
  <div class="main-carousel">
    {% for item in section.blocks %}
      <div class="carousel-cell">
        {% if item.settings.banner_img %}
          {% render 'image', imageSrc: item.settings.banner_img, classes: 'banner-img' %}
        {% else %}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'banner-img' }}
        {% endif %}
        <div class="hero-content hero-content-position " style="backface-visibility: hidden !important; ">
          <h1>
            {{ item.settings.hero_title }}
          </h1>
          <p>
            {{ item.settings.hero_subtitle }}
          </p>
          <div class="hero-btn">
            <a class="hero-btn1 btn-transparent btn-property" href=" {{ item.settings.id_btn1_url }} ">
              {{ item.settings.btn1_text }}
            </a>
            <a class="hero-btn2 btn-fill btn-property " href=" {{ item.settings.id_btn2_url }}">
              {{ item.settings.btn2_text }}
            </a>
          </div>
        </div>
        <div class="banner-overlay">&nbsp;</div>
      </div>
    {% endfor %}
  </div>


</section>

{% schema %}
  {
    "name": "Hero",
    "blocks": [
    {
            "type": "hero_images",
            "name": "Slider Item",
             "settings": [
    
                {
                    "type": "image_picker",
                    "id": "banner_img",
                    "label": "Choose Banner Image"
                },

                {
                    "type": "text",
                    "id": "hero_title",
                    "label": "Hero Title",
                    "default": "Make room for more friends, more family, more fun"
                },

                {
                    "type": "text",
                    "id": "hero_subtitle",
                    "label": "Hero Subtitle",
                    "default": "Decorate your house as you see fit! With our grandiose collections of contemporary furniture and unique house décor we will help you make your household as comfortable as possible while."
                },

                {
                    "type": "text",
                    "id": "btn1_text",
                    "label": "Button 1 Text",
                    "default": "Contact Us"
                },

               {
                "type": "url",
                "id": "id_btn1_url",
                "label": "Button 1 URL",
                "default": "/"
               },

                {
                    "type": "text",
                    "id": "btn2_text",
                    "label": "Button 2 text",
                    "default": "Shop Now!"
                },

               {
                "type": "url",
                "id": "id_btn2_url",
                "label": "Button 2 URL",
                "default": "/"
               }
        ]
    }
  ],

  "presets": [
    {
        "name":"Hero"
    }
  ]
  }
{% endschema %}
